while message = flash.shift()
  .panel.panel-danger
    .panel-heading
      h3.panel-title= message.message
    .panel-body
      ul
      for error in errors
        li.text-danger= error
    
    
    
